extends layout

block content
  p.lead
    = "Results for the week of " + currentWeek.toDateString()

  if leaderboard.length == 0
    p No results available.
  else
    table.table.table-striped.table-bordered
      thead
        tr
          th User ID
          th Rank
      tbody
        each rank in leaderboard
          tr
            td= rank.user.username
            td= rank.ranking.score

  hr
  a.btn.btn-default(type="button", href=("?date=" + lastWeek))
    | Previous Week

  if nextWeek <= today.getTime()
    a.btn.btn-default.pull-right(type="button", href=("?date=" + nextWeek))
      | Next Week
