extends layout

block content
  if leaderboard.length == 0
    p No results available.
  else
    table.table.table-striped.table-bordered
      thead
        tr
          th User ID
          th Rank
      tbody
        each user in leaderboard
          tr
            td= user.id
            td= user.rank
